<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Buoy Repair 1.3.3</string>
	<key>CFBundleName</key>
	<string>Buoy Repair</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Eric Walch &amp; Svengali</string>
</dict>
</plist>
