{
	author = "Eric Walch & Svengali";
	category = "Ambience";
	description = "Adds a buoy repair facility to selected systems.";
	identifier = "oolite.oxp.Svengali.Eric.BuoyRepair";
	information_url = "http://wiki.alioth.net/index.php/BuoyRepair";
	license = "CC-BY-NC-SA 3.0";
	required_oolite_version = "1.88";
	requires_oxps = (
		{
			identifier = "oolite.oxp.Svengali.Library";
			version = "1.7";
			description = "Depends on Library 1.7.";
		}
	);
	tags = (
		"Station",
		"Buoy"
	);
	title = "Buoy Repair";
	version = "1.4";
}
