{
	identifier = "oolite.oxp.Svengali.Eric.BuoyRepair";
	"required_oolite_version" = "1.75.1";
	title = "Buoy Repair";
	version = "1.3.4";
	category = Ambience;
	description = "Adds a buoy repair facility to selected systems.";
	author = "Eric Walch & Svengali";
	"information_url" = "http://wiki.alioth.net/index.php/BuoyRepair";
	licence = "CC-BY-NC-SA 3.0";
	tags = (
		Station,
		Buoy
	);
}