{
	"repaired-buoy-station" = (
		("Food", 0, 0, 19, -2, 0, 0, 1, 0, 0),
		("Textiles", 0, 0, 10, -1, 0, 0, 3, 0, 0),
		("Radioactives", 0, 0, 82, -3, -3, 0, 15, 0, 0),
		("Slaves", 0, 0, 0, 0, 0, 0, 0, 0, 0),
		("Liquor/Wines", 0, 0, 105, -5, 0, 0, 15, 0, 0),
		("Luxuries", 0, 0, 236, 8, 0, 0, 7, 0, 0),
		("Narcotics", 0, 0, 0, 0, 0, 0, 0, 0, 0),
		("Computers", 0, 0, 121, 14, 14, 5, 7, 7, 0),
		("Machinery", 0, 0, 107, 8, 15, 36, 15, 7, 0),
		("Alloys", 0, 0, 98, 6, 0, 0, 63, 3, 0),
		("Firearms", 0, 0, 0, 0, 0, 0, 0, 0, 0),
		("Furs", 0, 0, 36, -9, 0, 0, 63, 0, 0),
		("Minerals", 0, 0, 0, 0, 0, 0, 0, 0, 0),
		("Gold", 0, 0, 0, 0, 0, 0, 0, 0, 1),
		("Platinum", 0, 0, 0, 0, 0, 0, 0, 0, 1),
		("Gem-Stones", 0, 0, 0, 0, 0, 0, 0, 0, 2),
		("Alien Items", 0, 0, 0, 0, 0, 0, 0, 0, 0)
	);
}